<h1>All Sports </h1>

<% @sports.each do |sport| %>
    <%= link_to  image_tag(sport.image, :class => 'thumb'), sport %>
    <ul>
        <li><%= link_to sport.title, sport %></li>
    </ul>
<% end %>